.about {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-top: 150px;
  padding-bottom: 200px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .skills {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__list {
      }
    }
  }

  &__picture {
    img {
      object-fit: contain;
      width: 400px;
      height: 480px;
    }
  }
}
