 .about {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 120px;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .skills {
        display: flex;
        flex-direction: column;
        gap: 25px;
        &__list {

        }
      }
    }

    &__picture {
    img {
    width: 320px;
    height: 400px;
    }
    }
  }