.about {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-top: 150px;
  padding-bottom: 200px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .skills {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__picture {
    img {
      object-fit: contain;
      width: 400px;
      height: 480px;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 25px;
    padding-top: 130px;
    padding-bottom: 130px;

    &__picture {
      img {
        width: 100%;
        height: 480px;
      }
    }
  }
}
