.hero {
  .slide {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }

    @media (max-width: 720px) {
      height: 100svh;
    }
    // &__content {
    //   font-family: 'SansSerifPro';
    //   display: flex;
    //   align-items: flex-start;
    //   gap: 10px;

    //   flex-direction: column;
    //   position: absolute;
    //   top: 50%;
    //   left: 20%;
    //   transform: translate(-50%, -50%);
    // }
  }
}
