.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 60px;

  &__link {
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }

  .socials {
    margin-top: 10px;
    &__list {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
