/* Reset styles ==================================*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
input,
button,
textarea {
	font-family: $font-family;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* Global settings ================================*/
html,
body {
	height: 100%;
	min-width: var(--min-screen-width);
}
body {
	font-family: $font-family;
	font-size: $root-font-size;
	font-weight: $font-weght;
	color: $main-FZ-Color;
	background-color: $main-BG-Color;
	line-height: $line-height;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body._lock {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

main {
	flex: 1 1 auto;
}

.footer {
	flex: 0 0 auto;
}

[class*='__container'] {
	max-width: calc(var(--container) + var(--container-padding) * 2);
	margin: 0 auto;
	padding: 0px var(--container-padding);
	height: 100%;
}
