.slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.swiper {
  --swiper-navigation-size: 25px;
  --swiper-pagination-color: var(--white);
  --swiper-pagination-bullet-inactive-color: var(--white);
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  .swiper-button-prev, .swiper-button-next {
    color: var(--white);
    opacity: 0.5;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}